/* ===== global ===== */
*{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:'Segoe UI', Tahoma, sans-serif;
        }

        body{
            background: white;
              
        }

    /* ===== HEADER ===== */
        
        header{
            border-bottom:1px solid #e5e5e5;
    position:sticky;
    top:0;
    background:#fff;
    z-index:999;
}


        .top-header{
            display:flex;
            align-items:center;
            gap:20px;
            padding:14px 40px;
        }

        .logo{
            font-size:28px;
            font-weight:bold;
            color:#6a00ff;
            text-decoration:none;
        }

        .location{
            font-size:14px;
            color:#555;
            cursor:pointer;
        }

        .search-box{
            flex:1;
            position:relative;
        }

        .search-box input{
            width:100%;
            padding:12px 40px 12px 15px;
            border-radius:10px;
            border:1px solid #ddd;
            font-size:14px;
        }

        .search-box span{
            position:absolute;
            right:12px;
            top:50%;
            transform:translateY(-50%);
            color:#999;
        }

        .right-icons{
            display:flex;
            gap:25px;
        }

        .right-icons a{
            text-decoration:none;
            color:#777;
            font-size:13px;
            display:flex;
            flex-direction:column;
            align-items:center;
        }

        .right-icons a span{
            font-size:20px;
        }
 

        /* LOCATION MODAL */
        .modal{
            position:fixed;
            inset:0;
            background:rgba(0,0,0,0.4);
            display:none;
            justify-content:center;
            align-items:center;
            z-index:1000;
        }

        .modal-box{
            background:#fff;
            width:400px;
            padding:20px;
            border-radius:12px;
        }

        .modal-box h3{
            margin-bottom:12px;
        }

        .modal-box input{
            width:100%;
            padding:10px;
            border-radius:8px;
            border:1px solid #ccc;
            margin-bottom:12px;
        }

        .use-live{
            background:#f4f0ff;
            color:#6a00ff;
            padding:10px;
            border-radius:8px;
            cursor:pointer;
            text-align:center;
            margin-bottom:12px;
        }

        .close-btn{
            text-align:right;
            cursor:pointer;
            color:#999;
            font-size:14px;
        }
          
 /* ===== NAV BAR ===== */
        .nav-bar{
            display:flex;
            gap:30px;
            padding:14px 40px;
            border-top:1px solid #eee;
        }

        .nav-item{
            display:flex;
            align-items:center;
            gap:6px;
            color:#777;
            text-decoration:none;
            font-size:14px;
            cursor:pointer;
        }

        .nav-item span{
            font-size:18px;
        }

        /* ACTIVE (CLICKED) */
        .nav-item.active,
        .nav-item.active span{
            color:#6a00ff;
            font-weight:600;
        }
/* ===== HOW IT WORKS ===== */
.how-it-works{
    padding:50px 40px;
    text-align:center;
}

.how-it-works h2{
    margin-bottom:30px;
    font-size:26px;
}

.how-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.how-card{
    background:#fff;
    padding:30px;
    border-radius:16px;
    box-shadow:0 6px 20px rgba(0,0,0,0.08);
}

.how-card img{
    width:80px;
    margin-bottom:15px;
    border-radius:5px ;
}

.how-card h3{
    margin-bottom:10px;
}

.how-card p{
    font-size:14px;
    color:#666;
}


/* ===== FOOTER ===== */
.zepto-footer{
    background:#f8f8f8;
    padding:40px;
    font-size:14px;
    color:#555;
}

.footer-top p,
.footer-categories p{
    margin:6px 0;
}

.footer-categories{
    margin:20px 0;
}

.zepto-footer hr{
    margin:25px 0;
    border:none;
    border-top:1px solid #ddd;
}

.footer-main{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:20px;
}

.footer-logo{
    color:#6a00ff;
    font-size:24px;
}
